/* .custom-link {
  text-decoration: none; 
  outline: none; 
  font-weight: 500;
}

.navbarbg{
  background:linear-gradient(to right ,var(--navgradientfrom),var(--navgradientto));
  color: white;
   
    z-index: 1020; 
}


.navtext ,.navtext2{
  color: white !important;
  font-size: 16px;
  font-weight: 500; 
}

.navtext:hover {
  color: white !important;
}


.navtext a:hover {
  color: white !important;
}


.navtext1{
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navtext1:hover{
  color: black;
  background-color: #dbffd5;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}


.navtext {
  position: relative;
  display: inline-block;

}

.navbar-toggler {
  border-color: transparent; 
  outline: none; 
  box-shadow: none; 
}

.navbar-toggler:focus {
  outline: none; 
  box-shadow: none; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navtext:hover::after {
  content: '';
  position: absolute;
  bottom: 8px !important;
  left: 50%;
  transform: translateX(-50%);
  width: 45%; 
  height: 2px; 
  background-color: #fff; 
}

.navtext2 {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.logosize{
  width: 250px;
  height: 70px;
}
.navtext2:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%; 
  height: 2px; 
  background-color: #fff; 
}



.navbar .dropdown-toggle::after {
  color: white; 
  font-size: 16px; 
  margin-left: 2px; 
}




@media (max-width: 768px) {
  .navtext:hover::after,
  .navtext2:hover::after {
    content: none; 
  }

  .logosize{
    width: 200px;
    height: 60px;
  }
} */



.custom-link {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.custom-link:hover {
  color: white;
}

.custom-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.custom-link:hover::after {
  width: 50%;
}

.custom-link.active::after {
  width: 50%;
  height: 2px;
  background-color: white;
}

.dropdown-item.active {
  font-weight: 500;
  background-color: #dbffd5;
  color: black;
}

.dropdown-item:hover{
  background-color: #dbffd5;
}

.custom-link2{
  text-decoration: none;
}

@media (max-width: 769px) {
  .logo-size{
    
  };
}