.custom-link {
  text-decoration: none; /* Removes the underline if any */
  outline: none; /* Removes the focus outline */
  font-weight: 500;
}

.navbarbg{
  background:linear-gradient(to right ,var(--navgradientfrom),var(--navgradientto));
  color: white;
    position: sticky;
    top: 0; /* Ensures it's pinned to the top */
    z-index: 1020; /* Higher than most content layers */

}

/* Assuming 'navtext' is for your navigation text */
.navtext ,.navtext2{
  color: white !important;
  font-size: 16px;
  font-weight: 500; 
}

.navtext:hover {
  color: white !important; /* Set your desired hover color */
}

/* If you want to override other hover effects like links changing color */
.navtext a:hover {
  color: white !important;
}


.navtext1{
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navtext1:hover{
  color: black;
  background-color: #dbffd5;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Ensure no scrollable x-axis */
}

.container {
  overflow: visible; /* Allow sticky to function */
}
.navtext {
  position: relative;
  display: inline-block;

}

.navbar-toggler {
  border-color: transparent; /* Removes the border */
  outline: none; /* Ensures no ring appears */
  box-shadow: none; /* Removes the default focus ring shadow */
}

.navbar-toggler:focus {
  outline: none; /* Ensures no focus outline */
  box-shadow: none; /* Removes any focus shadow */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navtext:hover::after {
  content: '';
  position: absolute;
  bottom: 8px !important;
  left: 50%;
  transform: translateX(-50%);
  width: 45%; /* Small width for the underline */
  height: 2px; /* Thickness of the underline */
  background-color: #fff; /* Color of the underline */
}

.navtext2 {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}
.logosize{
  width: 250px;
  height: 70px;
}
.navtext2:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%; /* Small width for the underline */
  height: 2px; /* Thickness of the underline */
  background-color: #fff; /* Color of the underline */
}



.navbar .dropdown-toggle::after {
  color: white; 
  font-size: 16px; 
  margin-left: 2px; 
}




@media (max-width: 768px) {
  .navtext:hover::after,
  .navtext2:hover::after {
    content: none; /* Remove the underline effect */
  }

  .logosize{
    width: 200px;
    height: 60px;
  }
}