

.arrow-icon {
  color: var(--oviya-color);
  font-size: 2rem;
}
.para{
  font-size: 18px;
}
.abttxt{
  color: var(--oviya-color);
}


.custom-video {
  background: transparent;
  border: 0 !important;
  outline: 0 !important;
}
